*.iml
.idea/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

hierarchical/pom.xml
hierarchical/hierarchical-*
multi-hierarchical/pom.xml
multi-hierarchical/multi-hierarchical-*
